* {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* top模块 */
.top {
    width: 100%;
    height: 400px;
    background: url("../imgs/bg1.png") no-repeat 0px -40px;
}
.logo {
    float: left;
    margin-left: 95px;
    margin-top: 18px;
}
.navigation {
    width: 750px;
    height: 42px;
    line-height: 42px;
    float: right;
    background: url("../imgs/circle2.png");
    margin: 25px 58px 0 0; 
    position: relative;
    z-index: 1;
}
.navigation a {
    color: #ffffff; 
}
.navigation a:hover {
    color: #ffcc01;
}
.navigation .nav_bg.active {
    display: block;
    width: 30px;
    height: 10px;
    background-color: #ffcc01;
    position: absolute;
    left: -7px;
    top: 24px;
    z-index: -1;
}
.navigation .nav_bg.hide {
    display: none;
}
.navigation ul li {
    float: left;
    width: 137px;
    position: relative;
}
.navigation ul li:first-child {
    margin-left: 65px;
}
/* 滚动一定距离之后的header */
.top_scroll {
    width: 100%;
    height: 400px;
    background: url("../imgs/bg1.png") no-repeat 0px -40px;
    display: none;
}
.logo_scroll {
    float: left;
    margin-left: 95px;
    margin-top: 7px;
}
.navigation_scroll {
    width: 750px;
    height: 42px;
    line-height: 42px;
    float: right;
    margin: 25px 58px 0 0;
}
.navigation_scroll a {
    color: #fff;
}
.navigation_scroll a:hover {
    color: #000000;
}
.navigation_scroll .active {
    color: #eaba02;
}
.navigation_scroll ul li {
    float: left;
    width: 137px;
}
.logo_nav_scroll {
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,.5);
    position: fixed;
    z-index: 2;
}
/* 新闻模块 */
.main_1 {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
}
.news_title {
    width: 360px;
    height: 130px;
    margin: 0 auto;
}
.news_title .news_p {
    width: 58px;
    height: 23px;
    margin: 0 auto;
    background: url("../imgs/NEWS.png") no-repeat center top;
}
.news_title .news_center {
    text-align: center;
    margin-top: 14px;
    position: relative;
}
.news_title .news_center .news_h {
    z-index: 999;
    font-size: 36px;
    font-weight: bold;
    position: relative;
}
.news_center .news_yellow {
    width: 68px;
    height: 20px;
    background: url("../imgs/yellow.png") no-repeat;
    position: absolute;
    left: 95px;
    top: 30px;
    z-index: 1;
}

/* tab栏模块 */
.news_tab {
    width: 290px;
    height: 60px;
    margin: 0 auto;
}
.news_tab ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news_tab ul .news_tab_item {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news_tab ul .news_tab_item span {
    display: block;
}
.news_tab ul .news_tab_item.active span{
    color: #000000;
}
.news_tab ul li .yl_bg.active {
    width: 23px;
    height: 9px;
    background-color: #eaba02;
    position: absolute;
    left: -4px;
    bottom: -2px;
    z-index: -1;
}
.news_tab ul li .yl_bg.hide {
    display: none;
}

.news_tab_item .en_text,
.news_tab_item .zh_text {
    font-weight: 700;
    color: #6f6f6f;
}
.news_tab_item .en_text {
    font-size: 12px;
}
.news_tab_item .zh_text {
    font-size: 16px;
}

/* 新闻列表 */
.main_2 {
    width: 100%;
    height: 720px;
    background: url("../imgs/bg_bottom.png") no-repeat rgba(255, 255, 255, 0.1);
    
}
.container {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    border-bottom: 1px dashed #6f6f6f;
    position: relative;
    left:0;
    transition: all 0.3s linear;
}
.news_detail .news_li {
    height: 120px;
    cursor: pointer;
}
.container .news_logo {
    display: block;
    float: left;
    width: 30px;
    background-color: #eaba02;
    padding-left: 8px;
    border-radius: 50px;
    font-size: 12px;
    color:#000000;
    position: absolute;
    top: 6px;
    left: -47px;
}
.news_text {
    float: left;
    width: 860px;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}
.news_text .news_text_head {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px;
}
.news_text .news_text_body {
    font-size: 14px;
    color: #6f6f6f;
}
.news_date {
    float: right;
    color: #000000;
    margin-top: 50px;
    display: block;
}
.news_arrow {
    width: 34px;
    height: 15px;
    float: right;
    display: none;
    background: url("../imgs/arrow-right.png") no-repeat;
    margin-top: 50px;
}
.container .active {
    display: block;
}
.news_detail .active {
    background: url("../imgs/text-bg.png") no-repeat;
}
.news_body1 {
    display: none;
}
.pagination {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.pagination-ul,
.page-item {
    cursor: pointer;
}
.pagination-ul {
    display: flex;
    margin: 0 20px;
}
.page-item {
    margin: 0 8px;
    width: 30px;
    height: 30px;
    background-color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.page-item.selected {
    color: #fff;
    background-color: #be4c4d !important;
}
.page-item:hover {
    background-color: #949494;
    color: #fff;
}

.first-page,
.end-page,
.btn-prev-page ,
.btn-next-page {
    display: flex;
    width: 70px;
    height: 30px;
    background-color: #dedede;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
.disabled {
    cursor: not-allowed;
}
.btn-prev-page {
    margin: 0 -8px 0 8px; 
}
.btn-next-page {
    margin: 0 8px 0 -8px;
}

/* 新闻详情 */
.title_box {
    width: 100%;
    height: 130px;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}

.return_arrow {
    display: block;
    width: 63px;
    height: 17px;
    background: url("../imgs/arrow_left.png") no-repeat;
    position: absolute;
    left: 290px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}
.det_head {
    width: 900px;
    height: 120px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -450px;
    margin-top: -18px;
}
.det_head .det_head_bottom {
    width: 200px;
    height: 45px;
    margin: 0 auto;
    margin-top: 20px;
}
.det_head_bottom .det_type {
    float: left;
    width: 50px;
    height: 21px;
    background-color: #eaba02;
    border: 1px solid #eaba02;
    border-radius: 20px;
}
.det_head_bottom .det_date {
    float: right;
}
.det_body {
    width: 900px;
    margin: 40px auto;
}
.det_body_top {
    
}
.det_body_top p , .det_body_bottom p{
    text-indent:2em;
    color: #959595;
    font-size: 16px;
}
.det_body_middle {
    text-align: center;
    margin: 30px 0;
}
.news_body2 {
    display: block;
}
