* {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* top模块 */
.top {
    width: 100%;
}
.logo {
    float: left;
    margin-left: 95px;
    margin-top: 18px;
}
.navigation {
    width: 750px;
    height: 42px;
    line-height: 42px;
    float: right;
    background: url("../imgs/circle2.png");
    margin: 25px 58px 0 0; 
    position: relative;
    z-index: 1;
}
.navigation a {
    color: #ffffff; 
}
.navigation a:hover {
    color: #000;
}
.navigation .active {
    color: #eaba02;
}
.navigation ul li {
    float: left;
    width: 137px;
}
.navigation ul li:first-child {
    margin-left: 65px;
}
/* 滚动一定距离之后的header */
.top_scroll {
    width: 100%;
    display: none;
}
.logo_scroll {
    float: left;
    margin-left: 95px;
    margin-top: 7px;
}
.navigation_scroll {
    width: 750px;
    height: 42px;
    line-height: 42px;
    float: right;
    margin: 25px 58px 0 0;
}
.navigation_scroll a {
    color: #fff;
}
.navigation_scroll a:hover {
    color: #000;
}
.navigation_scroll .active {
    color: #eaba02;
}
.navigation_scroll ul li {
    float: left;
    width: 137px;
}
.logo_nav_scroll {
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,.5);
    position: fixed;
    z-index: 99;
}
/* header结束 */
body {
    width: 100%;
    background: url("../imgs/BG_ddf8da8.png") no-repeat;
}
/* 第一屏 */
.first {
    width: 100%;
    height: 900px;
}
/* 第二屏 */
.second {
    width: 100%;
    height: 900px;
    position: relative;
}
.second .container {
    width: 1200px;
    height: 580px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.container .hot_goods_title {
    width: 145px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}
.container .hot_goods_title span {
    font-size: 30px;
    font-weight: bold;
    color: #cac6bf;
    margin-bottom: 15px;
}
.container .hot_goods_title h1 {
    font-size: 36px;
}
.container .hot_goods_title .yellow_bg {
    width: 68px;
    height: 20px;
    position: absolute;
    left: -13px;
    bottom: -7px;
    background: url("../imgs/yellow_bg.png") no-repeat;
    z-index: -1;
}
.hot_goods_body {
    width: 100%;
    height: 380px;
}
.hot_goods_body .goods_list {
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hot_goods_body .goods_list li {
    width: 285px;
    height: 360px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
}
.hot_goods_body .goods_list li .good_pic {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.hot_goods_body .goods_list li .good_desc {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hot_goods_body .goods_list .add {
    width: 130px;
    height: 32px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.hot_goods_body .goods_list .add_to_car {
    display: flex;
    flex-direction: row;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    bottom: -11px;
    transform: translateX(-50%);
    transition: width .3s ease-out,
                border-radius .3s ease-out;
    cursor: pointer;
}
.hot_goods_body .goods_list .add p {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 32px;
    bottom: -3px;
    display: none;
    cursor: pointer;
}
.hot_goods_body .goods_list .add_to_car.active {
    width: 130px;
    background-color: #ff9601;
    border-radius: 40px;
}
.price {
    color: #ff9601;
    margin-top: 20px;
    margin-right: 10px;
}
.price .cast {
    font-size: 18px;
}
.price .money {
    font-size: 24px;
}
.second .person_animate {
    width: 416px;
    height: 381px;
    position: absolute;
    left: -80px;
    bottom: -100px;
    background: url("../imgs/sec3_bazzi.png") no-repeat;
}
.choose_role {
    width: 960px;
    height: 640px;
    position: absolute;
    bottom: -65px;
    display: flex;
}
.choose_role .role_left {
    width: 480px;
    height: 640px;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}
.choose_role .role_right {
    width: 480px;
    height: 640px;
    background-color: #f6f6f6;
}
.role_left .role_pic {
    width: 270px;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.role_left .role_name {
    font-size: 16px;
    font-weight: 700;
    color: #b2b2b2;
}
.role_head_box {
    margin-top: 40px;
    /* overflow: hidden; */
}
.role_left .role_head_ul {
    display: flex;
    width: 290px;
}
.role_left .role_head_ul .role_head_li {
    margin: 0 5px;
}
.role_left .role_head_ul .role_head_li .role_head {
    width: 48px;
    height: 48px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.role_left .role_head_ul .role_head_li .role_head img {
    cursor: pointer;
    width: 42px;
    height: 42px;
}
.role_left .role_head_ul .role_head_li .role_head img.active {
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid #ff9601;
}
.role_head_ul .role_head_li:last-child span {
    display: block;
    width: 26px;
    height: 12px;
    position: absolute;
    background: url("../imgs/eqfas.png") no-repeat;
    right: -5px;
    top: 0;
}
.role_left .arrow_left {
    width: 17px;
    height: 31px;
    background: url("../imgs/arrowmmleft.png") no-repeat;
    position: absolute;
    left: 30px;
    top: 265px;
    cursor: pointer;
}
.role_left .arrow_right {
    width: 17px;
    height: 31px;
    background: url("../imgs/arrowmmright.png") no-repeat;
    position: absolute;
    right: 30px;
    top: 265px;
    cursor: pointer;
}

.role_right .role_clothes {
    height: 80px;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.role_right .role_clothes .arrow_back {
    display: block;
    width: 12px;
    height: 11px;
    background: url("../imgs/zu30.png");
    margin-left: 30px;
    cursor: pointer;
}
.role_right .role_clothes .clothes {
    margin-right: 30px;
}
.role_right .role_clothes .clothes span {
    color: #d8d8d8;
    font-family: sans-serif, '黑体';
}
.role_right .role_clothes .clothes span:nth-child(1) {
    font-size: 24px;
    font-weight: 700;
}
.role_right .head_box .head_ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 20px;
}
.role_right .head_box .head_ul .head_li {
    margin: 10px;
}
.role_right .head_box .ok_button {
    width: 150px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9601;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

/* 第三屏 */
.third {
    width: 100%;
    height: 840px;
}
.third .tab_box {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.third .tab_list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.third .tab_list li {
    margin: 0 40px;
    color: #edcfce;
    cursor: pointer;
    position: relative;
}
.third .tab_list li.active {
    color: #fff;
}
.third .tab_list li .yellow_bg {
    width: 36px;
    height: 8px;
    position: absolute;
    left: -12px;
    top: 15px;
    background-image: url("../imgs/yellowjvmm.png");
    z-index: -1;
    display: none;
}
.third .tab_list li .yellow_bg.active {
    display: block;
}
.third .all_pic_box {
    width: 100%;
    height: 800px;
    border-top: 1px solid #f03d2b;
}
.third .all_pic_box .pic_box {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    margin-top: 40px;
}
.third .all_pic_box .pic_box .pic_list {  
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.third .all_pic_box .pic_box .pic_list li {
    width: 210px;
    height: 330px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 25px;
    position: relative;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, .5);
    box-sizing: border-box;
    cursor: pointer;
}
.third .all_pic_box .pic_box .pic_list li.active {
    border: 3px solid #ff9601;
}
.pic_box .pic_list li .pic_li_body {
    width: 210px;
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 10px;
    position: relative;
}
.pic_box .pic_list li .pic_li_body .good_name {
    font-size: 14px;
    font-weight: 700; 
}
.pic_box .pic_list li .pic_li_body .left_time {
    font-size: 11px;
    font-weight: bold;
    color: #b2b2b2;
    display: inline-block;
    height: 15px;
}
.pic_box .pic_list li .pic_li_body .good_price_int,
.pic_box .pic_list li .pic_li_body .good_price_float
{
    font-size: 16px;
    font-weight: 700;
    color: #ff9601;
    margin-top: 5px;
}
.pic_box .pic_list li .pic_li_body .good_price_float {
    font-size: 12px;
}
.pic_box .pic_list li .pic_li_body .limited_time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 14px;
    position: absolute;
    right: 100px;
    top: 3px;
    font-size: 10px;
    color: #fff;
    background-color: #ff4301;
    border-radius: 4px;
}
.pic_box .pic_list li .pic_li_body img {
    position: absolute;
    right: 20px;
    bottom: 0;
    cursor: pointer;
}
.third .all_pic_box .pic_box .pic_list li .img_label {
    display: block;
    width: 36px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 0;
    
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

/* footer */
.footer {
    width: 100%;
    height: 500px;
    background: url("../imgs/p5_bg_9831973.png") no-repeat;
    position: relative;
    margin-top: -5px;
    overflow: hidden;
}
.footer .info{
    width: 390px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.footer .info li span {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0 8px;
}
.footer .info li:nth-child(2) {
    margin: 30px auto;
}
.twitter {
    margin: 0 30px;
}
.footer .person {
    width: 1200px;
    height: 96px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #3c3660;
    margin-top: 90px;
}
.copyright {
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}
