* {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
.container {
    width: 100%;
    height: 762px;
    background: url("../imgs/third_part_bg.png") no-repeat;
    position: relative;
}
/* 左边轮播图块 */
.left_p  {
    position: absolute;
    top: 110px;
    left: 360px;
    z-index: 999;
    width: 644px;
    height: 434px;
    overflow: hidden;
}
.sliderbox {
    width: 2080px;
    position: absolute
}
.sliderbox ul li {
    float: left;
}
.zhizhen {
    position: absolute;
    left: 600px;
    top: 565px;
}
.left {
    width: 41px;
    height: 35px;
    background-color: pink;
    float: left;
    background: url("../imgs/left.png") no-repeat;
    cursor: pointer;
}
.right {
    width: 41px;
    height: 35px;
    background-color: skyblue;
    float: left;
    margin-left: 30px;
    background: url("../imgs/right.png") no-repeat;
    cursor: pointer;
}

/* 右边新闻块 */
.right_table {
    width: 570px;
    height: 390px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 30px;
    position: absolute;
    top: 220px;
    right: 380px;
    z-index: 1;
}
.tab {
    position: absolute;
    top: -75px;
    right: 20px;
}
.tab li{
    float: left;
    margin-left: 20px;
    cursor: pointer;
}
.tab .active {
    border-bottom: 2px solid #ffcc01;
}
.tab-ul {
    display: none;
}
.selected {
    display: block;
}
.news {
    position: absolute;
    top: 50px;
    left: 60px;
}
.news li {
    line-height: 44px;
}
.news li:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
}
.news li span {
    font-size: 12px;
    margin-right: 5px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #ffcc01;
    padding: 1px 4px;
}
.news .time {
    float: right;
}
.right_table .more {
    position: absolute;
    top: 28px;
    right: 40px;
    width: 16px;
    height: 16px;
    background: url("../imgs/more_icon.png");
    cursor: pointer;
}